// #849483 = cambridge blue
// #4E937A = viridian

//#84DCC6 = tiffany Blue**vert
//#D6EDFF = Columbia Blue**bleu clair

.presentation{
    background-color: #D6EDFF;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 700px;
}

.hobbies-card {
  height: 200px;
  width: 700px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #D6EDFF;
}

.btn{
    margin-top: 1rem;
}

.sources{
    background-color: #D6EDFF;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 200px;
    width: 700px;
}
